/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Gruppo&family=Press+Start+2P&family=Source+Code+Pro:wght@300&display=swap');

body {
    /* background colour for webpage */
    background-color: #272760;
    /* flexbox for layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* remove default text decoration on all links */
a {
    text-decoration: none;
}

/* logo */
h1 {
    color: #f7f7fc;
    font-family: 'Press Start 2P', Arial, sans-serif;
    text-transform: uppercase; 
    letter-spacing: 0.4rem;
    text-align: center;
    font-size: 325%;
}

/* game information section */
#game-info {
    color: #f7f7fc;
    text-align: center;
    font-family: 'Gruppo', Arial, sans-serif;
    padding-bottom: 3%;
}

/* wrapper for game iscores and game area sections */
#game-wrapper {
    width: 90vmin;
    height: 90vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: #272760;
    margin-bottom: 10px;
}

/* current game score and high score section container */
#game-scores {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

/* styles for game scores */
.scores {
    color: #f7f7fc;
    font-family: 'Gruppo', cursive;
    font-weight: 600;
    font-size: 1.1rem;
}

/* styles for start screen and game over screen containers */
.screen {
    height: 100%;
    width: 100%;
    background: #6275e0;
    margin-bottom: 10px;
    position: relative;
}

/* set width and height for game start screen and game over screen */
.game-screen {
    max-width: 100%;
    max-height: 100%;
}

/* start game button on start screen */
.start-button {
    font-family: 'Press Start 2P', Arial, sans-serif;
    background-color: #636a91;
    font-size: 100%;
    color: #3eff65;
    text-transform: uppercase;
    border-radius: 5%;
    border: 3px outset #0cffe1;
    padding: 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* on hover effects for start game and restart buttons */
.start-button:hover {
    cursor: pointer;
    filter: hue-rotate(90deg);
}

/* grid for game-area */
#game-area {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: #636a91;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

/* set colour for food */
#game-area .food {
    background-color: #ff6b6b;
  }

/* set colour for snake */
#game-area .head {
    background-color: #0cffe1;
}

/* centre button controls for mobile */
#controls-btns {
    display: flex;
    justify-content: center;
}

/* style button controls for mobile */
#control-btns button {
    background-color: #f7f7fc;
    border-radius: 30%;
    border-color: #0cffe1;

}

/* style icons on control buttons for mobile */
#control-btns i {
    color: #6275e0;
    font-weight: bolder;
    padding: 8px;
}

/* on hover effects for mobile control buttons */
#control-btns button:hover {
    cursor: pointer;
    filter: hue-rotate(90deg);
}

/* style footer */
footer {
    color: #f7f7fc;
    font-family: 'Gruppo', cursive;
    text-align: center;
    padding: 1.5% 0;
}