/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Gruppo&family=Press+Start+2P&family=Source+Code+Pro:wght@300&display=swap');

body {
    /* background colour for webpage */
    background-color: #272760;
    /* flexbox for layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* remove default text decoration on all links */
a {
    text-decoration: none;
}

/* logo */
h1 {
    color: #f7f7fc;
    font-family: 'Press Start 2P', Arial, sans-serif;
    text-transform: uppercase; 
    letter-spacing: 0.4rem;
    text-align: center;
    font-size: 4rem;
}

/* game information section */
#game-info {
    color: #f7f7fc;
    text-align: center;
    font-family: 'Gruppo', Arial, sans-serif;
    margin: 0 4rem 0.6rem;
}

/* Hide game information paragraph for mobile by default */
#mobile-info {
    display: none;
}

/* wrapper for game scores and game area sections */
#game-wrapper {
    width: 90vmin;
    height: 90vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: #272760;
    margin-bottom: 1rem;
}

/* current game score and high score section container */
#game-scores {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}

/* styles for game scores */
.scores {
    color: #f7f7fc;
    font-family: 'Gruppo', Arial, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

/* styles for start screen and game over screen containers */
.screen {
    height: 100%;
    width: 100%;
    background: #6275e0;
    position: relative;
    text-align: center;
}

/* set width and height for game start screen and game over screen */
.game-screen {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

/* start game button on start screen */
.start-button {
    font-family: 'Press Start 2P', Arial, sans-serif;
    background-color: #636a91;
    font-size: 100%;
    color: #3eff65;
    text-transform: uppercase;
    border-radius: 5%;
    border: 3px outset #0cffe1;
    padding: 2rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* on hover effects for start game and restart buttons */
.start-button:hover {
    cursor: pointer;
    filter: hue-rotate(90deg);
}

/* grid for game-area */
#game-area {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: #636a91;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

/* set colour for food */
#game-area .food {
    background-color: #ff6b6b;
  }

/* set colour for snake */
#game-area .head {
    background-color: #0cffe1;
}

/* style button controls for mobile */
#control-btns button {
    background-color: #f7f7fc;
    border-radius: 30%;
    border-color: #0cffe1;
    display: none;
}

/* style icons on control buttons for mobile */
#control-btns i {
    color: #6275e0;
    font-weight: bolder;
    padding: 0.5rem;
}

/* on hover effects for mobile control buttons */
#control-btns button:hover {
    cursor: pointer;
    filter: hue-rotate(90deg);
}

/* style footer */
footer {
    color: #f7f7fc;
    font-family: 'Gruppo', Arial, sans-serif;
    text-align: center;
    padding: 0.5rem 0;
}

/* Media queries */

/* For medium screen sizes from 1000px and down */
@media screen and (max-width: 1000px) {
    /* display arrow control buttons for mobile */
    #control-btns button {
        display: block;
    }
    /* display game information paragraph for mobile */
    #mobile-info {
        display: inline-block;
    }
    /* hide game information paragraph for desktop */
    #desktop-info {
        display: none;
    }

    /* increase margin for game information section */
    #game-info {
    margin: 0 10rem 0.6rem;
    }

    .start-button {
        padding: 1.5rem;
    }
}

/* For medium to small screen sizes from 800px and down */
@media screen and (max-width: 800px) {
    /* decrease margin for game information section */
    #game-info {
    margin: 0 5rem 0.6rem;
    }
}

/* For small screen sizes from 600px and down */
@media screen and (max-width: 600px) {
    /* decrease margin for game information section */
    #game-info {
    margin: 0 0 0.6rem;
    }

    h1 {
        font-size: 3.4rem;
    }
}

/* For very small screen sizes from 450px and down */
@media screen and (max-width: 450px) {
    /* decrease margin for game information section */
    .start-button {
        padding: 1rem;
    }
}