/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Gruppo&family=Press+Start+2P&family=Source+Code+Pro:wght@300&display=swap');

/* background colour */
body {
    background-color: #351c75;
}

/* remove default text decoration on all links */
a {
    text-decoration: none;
}

/* logo */
h1 {
    color: #f7f7fc;
    font-family: 'Press Start 2P', Arial, sans-serif;
    text-transform: uppercase; 
    letter-spacing: 0.4rem;
    text-align: center;
    font-size: 325%;
}

